.topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 60px; 
  padding: 0 30px;

  background: #141426;
  border-bottom: 1px solid #1f1f35;

  position: sticky;  
  top: 0;
  z-index: 1000;
}

/* LEFT: dashboard title */

.topbar h3 {
  font-size: 20px;
  font-weight: 600;
  color: #b026ff;
}

/* CENTER: bio text */

.bio {
  flex: 1;
  text-align: center;
  font-size: 14px;
  color: #cfcfcf;
  max-width: 500px;
}

/* RIGHT: profile container */

.profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* profile image */

.profile img {
  width: 40px;   
  height: 40px;
  border-radius: 50%;
  border: 2px solid #b026ff;
  cursor: pointer;
  transition: 0.3s;
}

/* hover effect */

.profile img:hover {
  transform: scale(1.08);
  box-shadow: 0 0 10px #b026ff;
}
