.topbar{
  display:flex;
  align-items:center;
  justify-content:space-between;

  padding:15px 30px;
  background:#141426;

  border-bottom:1px solid #1f1f35;
}

/* dashboard title */

.topbar h3{
  font-size:22px;
  font-weight:600;
}

/* bio text */

.bio{
  flex:1;
  text-align:center;
  font-size:14px;
  color:#cfcfcf;
  max-width:500px;
}

/* profile image container */

.profile{
  display:flex;
  align-items:center;
}

/* profile image */

.profile img{
  width:60px;
  height:60px;
  border-radius:50%;
  border:2px solid #b026ff;
  cursor:pointer;
  transition:0.3s;
}

/* hover effect */

.profile img:hover{
  transform:scale(1.05);
  box-shadow:0 0 10px #b026ff;
}